In [1]:
import requests

# insert your real key here!
access_key = '7e194265-8064-4eee-842a-4719c477804f'

headers = {
    'X-Meteum-API-Key': access_key
}

response = requests.get('https://api.meteum.ai/v1/forecast?lat=12.972623092425923&lon=79.16267637937521', headers=headers)

print(response.json()), 

data = response.json()

{'message': 'forbidden'}

In [2]:
# Write Python3 code here

import json


# Indent keyword while dumping the
# data decides to what level
# spaces the user wants.
#print(json.dumps(data, indent = 1))

# Difference in the spaces
# near the brackets can be seen
print(json.dumps(data, indent = 3))

{
   "message": "forbidden"
}

In [3]:
from datetime import date

today = date.today()
print("Today's date:", today)

Today's date: 2023-05-07

In [5]:
print(data['forecasts'])

KeyError: 'forecasts'

In [6]:
print(json.dumps(data['forecasts'][1], indent = 3))

KeyError: 'forecasts'

In [7]:
data_to_work = data['forecasts'][1]["hours"]
print(data_to_work)

KeyError: 'forecasts'

In [8]:
dici = {}
for a in data_to_work :
    dici[a["hour"]] = [a["soil_temp"] , a["soil_moisture"] , a["prec_mm"] , a["prec_prob"] , a["prec_period"]]
    print(dici[a["hour"]])

NameError: name 'data_to_work' is not defined

In [8]:
import pandas as pd
new1 = pd.DataFrame.from_dict(dici)
new1 = new1.transpose()
print(new1)

       0     1    2    3     4
0   30.0  0.14  0.0  0.0  60.0
1   30.0  0.14  0.0  0.0  60.0
2   27.0  0.14  0.0  0.0  60.0
3   27.0  0.14  0.0  0.0  60.0
4   27.0  0.14  0.0  0.0  60.0
5   25.0  0.14  0.0  0.0  60.0
6   25.0  0.14  0.0  0.0  60.0
7   25.0  0.14  0.0  0.0  60.0
8   27.0  0.14  0.0  0.0  60.0
9   27.0  0.14  0.0  0.0  60.0
10  27.0  0.14  0.0  0.0  60.0
11  35.0  0.14  0.0  0.0  60.0
12  35.0  0.14  0.0  0.0  60.0
13  35.0  0.14  0.0  0.0  60.0
14  39.0  0.14  0.0  0.0  60.0
15  39.0  0.14  0.0  0.0  60.0
16  39.0  0.14  0.0  0.0  60.0
17  38.0  0.14  0.0  0.0  60.0
18  38.0  0.14  0.0  0.0  60.0
19  38.0  0.14  0.0  0.0  60.0
20  33.0  0.13  0.0  0.0  60.0
21  33.0  0.13  0.0  0.0  60.0
22  33.0  0.13  0.0  0.0  60.0
23  29.0  0.13  0.0  0.0  60.0

In [9]:
print(new1.head())
new1.columns =["soil_temp" , "soil_moisture" , "prec_mm" , "prec_prob" , "prec_period"]
  
# Change the row indexes
#df.index = ['Row_1', 'Row_2', 'Row_3', 'Row_4']

      0     1    2    3     4
0  30.0  0.14  0.0  0.0  60.0
1  30.0  0.14  0.0  0.0  60.0
2  27.0  0.14  0.0  0.0  60.0
3  27.0  0.14  0.0  0.0  60.0
4  27.0  0.14  0.0  0.0  60.0

In [10]:
new1

    soil_temp  soil_moisture  prec_mm  prec_prob  prec_period
0        30.0           0.14      0.0        0.0         60.0
1        30.0           0.14      0.0        0.0         60.0
2        27.0           0.14      0.0        0.0         60.0
3        27.0           0.14      0.0        0.0         60.0
4        27.0           0.14      0.0        0.0         60.0
5        25.0           0.14      0.0        0.0         60.0
6        25.0           0.14      0.0        0.0         60.0
7        25.0           0.14      0.0        0.0         60.0
8        27.0           0.14      0.0        0.0         60.0
9        27.0           0.14      0.0        0.0         60.0
10       27.0           0.14      0.0        0.0         60.0
11       35.0           0.14      0.0        0.0         60.0
12       35.0           0.14      0.0        0.0         60.0
13       35.0           0.14      0.0        0.0         60.0
14       39.0           0.14      0.0        0.0         60.0
15       39.0           0.14      0.0        0.0         60.0
16       39.0           0.14      0.0        0.0         60.0
17       38.0           0.14      0.0        0.0         60.0
18       38.0           0.14      0.0        0.0         60.0
19       38.0           0.14      0.0        0.0         60.0
20       33.0           0.13      0.0        0.0         60.0
21       33.0           0.13      0.0        0.0         60.0
22       33.0           0.13      0.0        0.0         60.0
23       29.0           0.13      0.0        0.0         60.0

In [11]:
a = sum(new1["prec_mm"]/10)
a

0.0

In [12]:
import json
  
# Opening JSON file
f = open("E:\TARP\crop_data.json")
  
data = json.load(f)
  
for i in data['Rice']:
    print(i)
  
# Closing file
f.close()

{'Total_Water': 8750000, 'Stage': [0.05, 0.2, 0.4, 0.3, 0.05], 'Days': [30, 30, 30, 30, 30]}

In [13]:
f = open("E:\TARP\crop_data.json")
data = json.load(f)
threshold = 35 
import pandas as pd

In [14]:
crop = "Rice"
my_lis = [data[crop][0]['Stage'] , data[crop][0]['Days']]   
new = pd.DataFrame(my_lis)
new  = new.transpose()
new.columns = ['Water_Percentage', 'Total_Days']
new['Crop_Period'] = new.index + 1
new["Total_Water/M^2"] = (data[crop][0]['Total_Water'] * new["Water_Percentage"])/4046.86
new["Daily_Water/M^2"] = (new["Total_Water/M^2"])/30
new["Soil_Moisture"] = (new["Daily_Water/M^2"])/threshold
first_column = new.pop('Crop_Period')
new.insert(0, 'Crop_Period', first_column)
new.head()

,Crop_Period,Water_Percentage,Total_Days,Total_Water/M^2,Daily_Water/M^2,Soil_Moisture
0,1,0.05,30.0,108.108509,3.603617,0.102960
1,2,0.20,30.0,432.434035,14.414468,0.411842
2,3,0.40,30.0,864.868071,28.828936,0.823684
3,4,0.30,30.0,648.651053,21.621702,0.617763
4,5,0.05,30.0,108.108509,3.603617,0.102960

In [15]:
crop = "Sugar Cane"
my_lis = [data[crop][0]['Stage'] , data[crop][0]['Days']]   
new = pd.DataFrame(my_lis)
new  = new.transpose()
new.columns = ['Water_Percentage', 'Total_Days']
new['Crop_Period'] = new.index + 1
new["Total_Water/M^2"] = (data[crop][0]['Total_Water'] * new["Water_Percentage"])/4046.86
new["Daily_Water/M^2"] = (new["Total_Water/M^2"])/30
new["Soil_Moisture"] = (new["Daily_Water/M^2"])/threshold
first_column = new.pop('Crop_Period')
new.insert(0, 'Crop_Period', first_column)
new.head()

,Crop_Period,Water_Percentage,Total_Days,Total_Water/M^2,Daily_Water/M^2,Soil_Moisture
0,1,0.20,30.0,296.526196,9.884207,0.282406
1,2,0.25,30.0,370.657745,12.355258,0.353007
2,3,0.40,30.0,593.052391,19.768413,0.564812
3,4,0.10,30.0,148.263098,4.942103,0.141203
4,5,0.05,30.0,74.131549,2.471052,0.070601

In [16]:
crop = "Wheat"
my_lis = [data[crop][0]['Stage'] , data[crop][0]['Days']]   
new = pd.DataFrame(my_lis)
new  = new.transpose()
new.columns = ['Water_Percentage', 'Total_Days']
new['Crop_Period'] = new.index + 1
new["Total_Water/M^2"] = (data[crop][0]['Total_Water'] * new["Water_Percentage"])/4046.86
new["Daily_Water/M^2"] = (new["Total_Water/M^2"])/30
new["Soil_Moisture"] = (new["Daily_Water/M^2"])/threshold
first_column = new.pop('Crop_Period')
new.insert(0, 'Crop_Period', first_column)
new.head()

,Crop_Period,Water_Percentage,Total_Days,Total_Water/M^2,Daily_Water/M^2,Soil_Moisture
0,1,0.05,30.0,32.580816,1.086027,0.031029
1,2,0.20,30.0,130.323263,4.344109,0.124117
2,3,0.40,30.0,260.646526,8.688218,0.248235
3,4,0.30,30.0,195.484894,6.516163,0.186176
4,5,0.05,30.0,32.580816,1.086027,0.031029

In [17]:
crop = "Potato"
my_lis = [data[crop][0]['Stage'] , data[crop][0]['Days']]   
new = pd.DataFrame(my_lis)
new  = new.transpose()
new.columns = ['Water_Percentage', 'Total_Days']
new['Crop_Period'] = new.index + 1
new["Total_Water/M^2"] = (data[crop][0]['Total_Water'] * new["Water_Percentage"])/4046.86
new["Daily_Water/M^2"] = (new["Total_Water/M^2"])/30
new["Soil_Moisture"] = (new["Daily_Water/M^2"])/threshold
first_column = new.pop('Crop_Period')
new.insert(0, 'Crop_Period', first_column)
new.head()

,Crop_Period,Water_Percentage,Total_Days,Total_Water/M^2,Daily_Water/M^2,Soil_Moisture
0,1,0.05,30.0,55.598662,1.853289,0.052951
1,2,0.20,30.0,222.394647,7.413155,0.211804
2,3,0.40,30.0,444.789293,14.826310,0.423609
3,4,0.20,30.0,222.394647,7.413155,0.211804
4,5,0.15,30.0,166.795985,5.559866,0.158853

In [18]:
crop = "Corn"
my_lis = [data[crop][0]['Stage'] , data[crop][0]['Days']]   
new = pd.DataFrame(my_lis)
new  = new.transpose()
new.columns = ['Water_Percentage', 'Total_Days']
new['Crop_Period'] = new.index + 1
new["Total_Water/M^2"] = (data[crop][0]['Total_Water'] * new["Water_Percentage"])/4046.86
new["Daily_Water/M^2"] = (new["Total_Water/M^2"])/30
new["Soil_Moisture"] = (new["Daily_Water/M^2"])/threshold
first_column = new.pop('Crop_Period')
new.insert(0, 'Crop_Period', first_column)
new.head()

,Crop_Period,Water_Percentage,Total_Days,Total_Water/M^2,Daily_Water/M^2,Soil_Moisture
0,1,0.05,30.0,33.729855,1.124328,0.032124
1,2,0.20,30.0,134.919419,4.497314,0.128495
2,3,0.40,30.0,269.838838,8.994628,0.256989
3,4,0.20,30.0,134.919419,4.497314,0.128495
4,5,0.15,30.0,101.189564,3.372985,0.096371

In [19]:
new3 = pd.DataFrame(new["Soil_Moisture"])

In [20]:
new3["Prec_mm"] = sum(new1["prec_mm"]/10)

In [21]:
new3["Soil_Moisture_Tomorrow"] = sum(new1["soil_moisture"]/24)

In [22]:
new3["Soil_Moisture_Total"] = new3["Soil_Moisture_Tomorrow"] + new3["Prec_mm"]

In [23]:
new3

   Soil_Moisture  Prec_mm  Soil_Moisture_Tomorrow  Soil_Moisture_Total
0       0.032124      0.0                0.138333             0.138333
1       0.128495      0.0                0.138333             0.138333
2       0.256989      0.0                0.138333             0.138333
3       0.128495      0.0                0.138333             0.138333
4       0.096371      0.0                0.138333             0.138333

In [24]:
import datetime

x = datetime.date(2023, 4, 2)

print(x)

2023-04-02

In [25]:
a = today-x
cal_day = a.days

In [26]:
cal_day

8

In [27]:
for a in new3:
    print(a)

Soil_Moisture
Prec_mm
Soil_Moisture_Tomorrow
Soil_Moisture_Total

In [28]:
i = 1
temp = 1
for a in new["Crop_Period"]:
    temp += new["Total_Days"][i] 
    if(temp>cal_day):
        break ;
    i+=1

In [29]:
print("Crop Stage : " , i) 
print("Day : " , cal_day)
Prec_mm = sum(new1["prec_mm"]/10)
Soil_Moisture_Tomorrow = sum(new1["soil_moisture"]/24)
Soil_Moisture_Total = Soil_Moisture_Tomorrow + Prec_mm
print("Soil Moisture Tomorrow : " , Soil_Moisture_Tomorrow)
print("Precipitaion Tomorrow : " , Prec_mm)
print("Total Soil Moisture : " , Soil_Moisture_Total)
print("Ideal Soil Moisture : " , new["Soil_Moisture"][i-1])

Crop Stage :  1
Day :  8
Soil Moisture Tomorrow :  0.1383333333333333
Precipitaion Tomorrow :  0.0
Total Soil Moisture :  0.1383333333333333
Ideal Soil Moisture :  0.032123671191985885

In [30]:
if(new["Soil_Moisture"][i-1]>Soil_Moisture_Total):
    print(0)
else :
    print(1)

1